header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid black;

}

header img {
  height: 70px;
  width: 80px;
  cursor: pointer;
  position: absolute;
  left: 60px;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  width: 80%;
  position: absolute;
  top: 30px;
  right: 0;
  cursor: pointer;
}

header nav a {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 20px;
  padding-right: 10px;
}